@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --gutter: 0.5rem;
  --sidebar-width: 3rem;
  --tw-prose-body: pink;
  --tw-prose-headings: #111827;
  --tw-prose-lead: #4b5563;
  --tw-prose-links: #111827;
  @media screen and (min-width: 768px) {
    /* --gutter: 1rem; */
    /* --sidebar-width: 13em; */
  }
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

body {
  /* @apply bg-gray-300 text-gray-600; */
  /* color: rgb(var(--foreground-rgb)); */
  /* background: rgb(var(--background-end-rgb)); */
}
@layer base {
  html {
    font-size: clamp(
      1rem,
      0.6513684210526316rem + 0.7263157894736841vw,
      1.414rem
    );
  }
  strong,
  b {
    @apply font-semibold;
  }
}

@layer utilities {
  .link-text {
    @apply font-medium underline;
  }
  .vertical-rl {
    writing-mode: vertical-rl;
  }
  .vertical-lr {
    writing-mode: vertical-lr;
  }
  .space-word {
    word-spacing: 0.25em;
  }
  @variants responsive {
    .text-shadow {
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    }
    .text-shadow-md {
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.35);
    }
    .text-shadow-lg {
      text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.35);
    }

    .text-shadow-light {
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
    }
    .text-shadow-light-md {
      text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.75);
    }
    .text-shadow-light-lg {
      text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.75);
    }
    .text-shadow-none {
      text-shadow: none;
    }
  }
}
